.social-section ul li {
  display: inline-block;
  padding: 0 8px;
  font-size: 18px;
}

.title {
  text-transform: uppercase;
}

footer.page-footer {
  padding-top: 25px;
}

footer.page-footer .footer-copyright {
  background-color: #002A47;
  line-height: normal;
  padding: 10px 0 5px 0;
}

footer.page-footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer.page-footer li {
  list-style: none;
}

.custom-footer {
  &-background {
    background-color: #002A47;
  }
}

@media only screen and (max-width: 992px) {
  .center-on-small-only {
    text-align: center;
  }
}
