@import "../../../styles/variables";

.section-heading {
  color: $backgroundColor;
}

.level-divider {
  background-color: $backgroundColor;
}

.sponsor-level-name {
  font-weight: bold;
  color: $backgroundColor;
}