<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color-dark fixed-top scrolling-navbar d-print-none"
  *ngIf="siteConfig$ | async as config">
  <logo>
    <a class="navbar-brand" routerLink="/home">
      <span>SDB.</span>
      <span>19</span>
    </a>
  </logo>
  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbRippleRadius routerLink="/speakers">Palestrantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbRippleRadius routerLink="/sessions">Agenda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbRippleRadius routerLink="/sponsors">Patrocinadores</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<!--/.Navbar-->