<!--Navbar-->
<!-- TODO: search correct color to replace green accent-3 to #002A47-->
<mdb-navbar SideClass="navbar navbar-expand-lg fixed-top scrolling-navbar d-print-none navbar-dark navbar-custom-color "
  *ngIf="siteConfig$ | async as config">
  <logo>
    <a class="navbar-brand custom-navbar-logo" routerLink="/home">
     <img src="../../assets/img/logo.png" alt="Scrumday 2019" class="img-responsive">
    </a>
  </logo>
  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light text-white" mdbRippleRadius routerLink="/sessions">Programação</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light text-white" mdbRippleRadius routerLink="/speakers">Palestrantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light text-white" mdbRippleRadius routerLink="/sponsors">Patrocinadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light text-white" mdbRippleRadius routerLink="/keynotes">Keynotes</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<!--/.Navbar-->