@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./styles/delorean.scss";
@import "./styles/loading.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');

.intro-1 {
  background: url("assets/img/scrumday-hero.jpg") no-repeat center center;
  background-size: cover;
}

.divider-new {
  &:after, &:before {
    background-color: #002A47 !important;
  }
}

@media screen and (max-width: 720px) {
  .intro-1 {
    background: url("assets/img/320px.jpg") no-repeat center center;
    background-size: cover;
  }
}