<header *ngIf="siteConfig$ | async as config">

  <app-top-menu></app-top-menu>

  <!--Intro Section-->
  <section class="view intro-1 hm-black-strong">
    <div class="full-bg-img flex-center">
      <div class="container text-center">
        <img class="view-logo" src="https://firebasestorage.googleapis.com/v0/b/scrumday-demo.appspot.com/o/config%2FScrumDay2019_02.png?alt=media&token=f1664cb6-8104-4440-9912-c9c9e800f775" alt="Logo do evento" />
        <a target="_blank" rel="noopener" [href]="config?.ticketURL" class="btn btn-lg btn-custom-subscribe" rel="nofollow">Faça sua inscrição</a>
      </div>
      <div class="arrow bounce">
        <a class="fa fa-chevron-down fa-1x" [ngx-scroll-to]="'#about'"></a>
      </div>
    </div>
  </section>

</header>

<div class="container" *ngIf="siteConfig$ | async as config">
  <div id="about" class="divider-new spaced">
    <h2 class="h2-responsive">Sobre o Scrum Day Brazil</h2>
  </div>

  <!--Section: About-->
  <section class="text-center" *ngIf="!config?.eventType || config?.eventType === 'DevFest'" style="line-height: 24px">
    <p>
      Os <strong>{{ config?.groupName }}s</strong> são eventos de Agilidade dirigido exclusivamente pela comunidade global de
      especialistas da <a href="https://www.scrum.org/">Scrum.org</a>, com a intenção de difundir sua metodologia.
    </p>
    <p>
      O Scrum Day é uma ótima oportunidade para indivíduos e equipes aumentarem as chances de sucesso na busca por melhores resultados no desenvolvimento de software. O evento é direcionado pela comunidade global de especialistas da Scrum.org, com a presença de <i>Product Owners</i>, <i>Product Managers</i>, <i>Scrum Masters</i>, <i>Agile Coaches</i>, <i>Project
          Managers</i>, <i>Developers,</i> <i>Product Designers</i>, <i>Middle Management</i>, <i>C-Level</i> e <i>Investidores</i> para aumentar seu networking com outros praticantes e Professional Scrum Trainers (PST's) por meio de:
      <strong>Conversas individuais</strong>, <strong>Workshops</strong>, <strong>Sessões de Open Space</strong>,
      <strong>Palestras inspiradoras</strong>.
    </p>
  </section>
  <!--Section: About-->

  <div class="divider-new pt-5 spaced" *ngIf="(speakers$ | async)?.length > 0">
    <h2 class="h2-responsive">Keynotes</h2>
  </div>

  <!--Section: Featured Speakers-->
  <section class="section team-section">
    <div class="row text-center">
      <div *ngFor="let speaker of (speakers$ | async)" class="col-lg-3 col-md-6 mb-r" style="padding-left: 40px; padding-right: 40px; margin: 0 auto;">
        <div class="avatar" title="{{ speaker.name }}" alt="{{ speaker.name }}">
          <img *ngIf="!speaker.photoURL" class="rounded-circle z-depth-1" style="background-image: url('../../../assets/img/user-default.png')">
          <img *ngIf="speaker.photoURL" class="rounded-circle z-depth-1" [ngStyle]="{'background-image': 'url(' + speaker.photoURL + ')'}">
        </div>
        <h4><span [innerHTML]="speaker.name"></span></h4>
        <a *ngIf="speaker.twitterLink" class="icons-sm tw-ic" href="https://twitter.com/{{ speaker.twitterLink }}"
          target="_blank" rel="noopener">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a *ngIf="speaker.linkedinLink" class="icons-sm li-ic" href="https://www.linkedin.com/{{ speaker.linkedinLink }}"
          target="_blank" rel="noopener">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <h6><strong *ngIf="speaker.company">@&nbsp;<span [innerHTML]="speaker.company"></span></strong></h6>
      </div>
    </div>
  </section>
  <!--Section: Featured Speakers-->

  <div class="divider-new spaced" id="the-venue" *ngIf="config?.venueName">
    <h2 class="h2-responsive">O Local</h2>
  </div>

  <!--Section: The Venue-->
  <section *ngIf="config?.venueName">
    <div class="row">
      <div class="col-md-5">
        <h2 class="h2-responsive">{{ config?.venueName }}</h2>
        <hr>
        <p [innerHTML]="config?.venueDescription"></p>
      </div>
      <div class="col-md-7">
        <div class="card">
          <img class="venue-photo" *ngIf="config?.venuePhoto" [src]="config?.venuePhoto" alt="{{ config?.venueName }}"
            title="{{ config?.venueName }}" />
        </div>
      </div>
    </div>
  </section>
  <!--/Section: The Venue-->

  <div class="divider-new spaced" *ngIf="config?.venueGeoData">
    <h2 class="h2-responsive">Localização</h2>
  </div>

  <!--Section: Location-->
  <section id="location pb-5" *ngIf="config?.venueGeoData">
    <div class="row">
      <div class="col-md-9 mb-5">
        <div id="map-container" class="z-depth-1" style="height: 300px">
          <agm-map style="height: 300px" [latitude]="( config?.venueGeoData?.lat + 0.0003 )" [longitude]="( config?.venueGeoData?.lng )"
            [scrollwheel]="false" [zoom]="18">
            <agm-marker [latitude]="( config?.venueGeoData?.lat )" [longitude]="( config?.venueGeoData?.lng )">
              <agm-info-window [isOpen]="true" [maxWidth]="180">
                <strong>{{ config?.venueName }}</strong><br />
                {{ config?.venueAddress }}<br />
                <a href="https://www.google.com/maps/search/?api=1&query={{ config?.venueAddress }}" target="_blank"
                  rel="noopener">View on Google Maps</a>
              </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </div>
      <div class="col-md-3">
        <a href="https://www.google.com/maps/search/?api=1&query={{ config?.venueAddress }}" target="_blank" rel="noopener">
          <div class="card location-card blue-grey lighten-5 text-center z-depth-2">
            <div class="card-body">
              <p class="col text-center mb-0">
                <i class="fa fa-map-marker fa-lg"></i><br />
                <strong>{{ config?.venueName }}</strong><br />
                {{ config?.venueAddress }}
              </p>
              <img src="./../../assets/img/marker.png" />
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <!--Section: Location-->

  <div class="divider-new spaced pt-5" *ngIf="(tickets$ | async)?.length > 0">
    <h2 class="h2-responsive">Preço</h2>
  </div>

  <!--Section: Pricing-->
  <section class="section">
    <div class="row pt-3">
      <div class="mb-r" *ngFor="let ticket of (tickets$ | async); let i = index;" [ngClass]="tickets$.length > 3 ? 'col-lg-3' : (tickets$.length > 2 ? 'col-lg-2' : 'col-lg-4')"
        style="padding: 20px 40px; margin: 0 auto;">
        <div class="card">
          <div class="card-header white-text text-center price-card">
            <h1 class="dollar">{{ ticket.price }}</h1>
            <h6>{{ ticket.name }}</h6>
          </div>
          <div class="card-body">
            <div class="card-text text-center">
              <span *ngIf="ticket.description1">
                <i class="fa fa-check"></i>&nbsp;<span [innerHTML]="ticket.description1"></span>
                <hr style="width: 60%;" />
              </span>
              <span *ngIf="ticket.description2">
                <i class="fa fa-check"></i>&nbsp;<span [innerHTML]="ticket.description2"></span>
                <hr style="width: 60%;" />
              </span>
              <span *ngIf="!ticket.description1">
                &nbsp;
                <hr style="width: 60%;" />
              </span>
              <span *ngIf="ticket.description2">
                &nbsp;
                <hr style="width: 60%;" />
              </span>
              <div class="text-center ticket-button">
                <a *ngIf="todayDate >= ticket.beginDate && todayDate <= ticket.endDate" target="_blank" rel="noopener" [href]="config?.ticketURL" class="btn btn-custom-price waves-light white-text" rel="nofollow">Comprar agora!</a>
                <span *ngIf="todayDate >= ticket.endDate" class="btn btn-custom-price white-text" rel="nofollow">Vendas encerradas</span>
                <span *ngIf="todayDate < ticket.beginDate" class="btn btn-custom-price white-text" rel="nofollow">Não iniciado ainda</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!--/Section: Pricing-->

  <div class="divider-new spaced pt-5" *ngIf="(sponsors$ | async)?.length > 0">
    <h2 class="h2-responsive">Organizadores</h2>
  </div>

  <!--Section: Sponsors-->
  <section class="section">
    <div class="col sponsors" *ngFor="let level of (levels$ | async)">
      <div class="row">
        <ng-container *ngFor="let sponsor of (sponsors$ | async)">
          <ng-container *ngIf="level.rank === sponsor.level && level.active">
            <span class="col-md-6" style="padding: 20px 40px; margin: 0 auto;">
              <a [href]="sponsor.websiteLink" target="_blank" rel="noopener">
                <img [src]="sponsor.logoURL" class="sponsor-img" title="{{ sponsor.name }}" alt="{{ sponsor.name }}" />
              </a>
            </span>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </section>
  <!--Section: Sponsors-->
</div>